<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class = "alert alert-success fade show" th:if = "${message}">
        <p th:if = "${message}" th:text = "${message}"></p>
    </div>
    <h1>Post id:</h1>
    <h3 th:text="${post.id}"></h3>
    <p th:text="${post.content}"></p>

    <form th:object="${comment}" th:action="@{/comments}" th:method="post">
        <div class="form-group">
            <ul>Comments:
                <li th:each ="comment: ${comments}" th:text = "${comment}"></li>
            </ul>
            <h3>Dodaj komentarz</h3>
            <label>Content</label>
            <input th:field="*{description}" type="text"
                   class="form-control input-small"
                   placeholder="Comment" required>
            <input th:field="*{post}" type="hidden"
                   class="form-control input-small"
                   placeholder="Comment" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg ">Dodaj</button>
    </form>

</div>



</body>
</html>